<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>
	<h2><%=title%></h2>
	<form action="/user/add" method='post'>
		<label for="name">姓名</label>
		<input type="text" name="name" id="name">
		<br>
		<label for="chinese">语文</label>
		<input type="text" name="chinese" id="chinese">
		<br>
		<label for="math">数学</label>
		<input type="tex" name="math" id="math">
		<br>
		<label for="english">英语</label>
		<input type="text" name="english" id="english">
		<input type="submit" value="提交">
	</form>
</body>
</html>